.admin-main {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--primary-7);
}

.admin-main.h-nav {
    min-height: calc(100vh - 59px);
}

.admin-container {
    box-sizing: border-box;
    background-color: white;
    padding: 40px;
    border-radius: 15px;
    width: 90%;
    max-width: 800px;
    margin: 100px 0;
}

.admin-container.large {
    max-width: 1040px;
}

.admin-heading {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

}

.admin-heading button {
    width: fit-content;
    height: fit-content;
}

.input-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.input-item {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.input-container label {
    font-size: 12px;
    color: var(--neutral-2);
}

.mt-10 {
    margin-top: 10px;
}

.admin-table {
    overflow-x: auto;
}

.id-col {
    width: 10px;
}

.action-col {
    width: 100px;
}

.mx-0 {
    margin-left: 0px;
    margin-right: 0px;
}