.confirm-payment {
    background-color: var(--primary-7);
    min-height: calc(100vh - 59px);
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.confirm-payment-container {
    background-color: white;
    width: 75%;
    max-width: 800px;
    margin: 100px 40px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 10px;
    border-radius: 15px;

}

.success-payment-icon {
    width: 112px;
    height: 100%;
    align-self: center;

}

@media screen and (max-width: 480px) {
    .confirm-payment-container {
        width: unset;
        margin: 50px;
    }
}