.explore-section {
	padding: 150px 120px;

	display: flex;
	justify-content: space-between;

	gap: 50px;

	border-radius: 0px 0px 50px 50px;
	background: var(--secondary-7, #fdf3f1);
	box-shadow: 0px 20px 50px 0px rgba(0, 0, 0, 0.1);
}

.left-side-explore {
	display: flex;
	flex-direction: column;

	align-items: left;
	gap: 40px;

	max-width: 440px;
}

.explore-heading-color1 {
	color: var(--neutral-5, #283148);
}

.explore-heading-color2 {
	color: var(--primary-2, #746cc3);
}

.explore-description {
	color: var(--neutral-4, #363f51);
}

.explore-search-container {
	display: flex;
	padding: 10px 20px;
	justify-content: space-between;

	border-radius: 10px;
	border: 1px solid var(--background, #f8f8fc);
	background: var(--neutral-3, #40446f);
}

.explore-search-input {
	display: flex;
	align-items: center;
	gap: 20px;
	width: 100%;
}

.explore-search-input > input {
	width: 100%;

	border: none;
	outline: none;
	background: transparent;

	color: var(--background, #f8f8fc);
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.explore-search-input > input::placeholder {
	color: var(--background, #f8f8fc);
	opacity: 0.7;
}

.explore-search-button {
	height: 24px;
	cursor: pointer;
}

.explore-search-button:active {
	transform: translateY(1px);
}

.right-side-explore {
	width: fit-content;

	display: flex;
	align-items: center;
	border-radius: 50px;
}

.right-side-explore > img {
	border-radius: 50px;
	/* width: 100%; */
	max-width: 428px;
}

@media only screen and (max-width: 768px) {
	.right-side-explore {
		max-height: 150px;
	}

	.explore-section {
		justify-content: center;
	}
}

@media only screen and (max-width: 1065px) {
	.right-side-explore {
		max-height: 200px;
		overflow: hidden;
		width: 100%;
	}

	.right-side-explore > img {
		width: 100%;
		max-width: unset;
	}

	.explore-section {
		flex-direction: column-reverse;

		/* padding: 100px 50px; */
		align-items: center;
		align-self: stretch;
	}
	.left-side-explore {
		width: 100%;
		max-width: unset;
	}
}

/* section menu */
.menu-section {
	display: flex;
	flex-direction: column;
	align-items: center;

	padding: 100px 120px;
	gap: 50px;

	border-radius: 0px 0px 50px 50px;
}

.menu-section > h2 {
	color: var(--neutral-5, #283148);
}

.menu-feature-container {
	display: flex;
	gap: 10px;

	flex-wrap: wrap;
	justify-content: center;
}

.menu-feature-container .card-container {
	display: flex;
	padding: 20px 10px;
	flex-direction: column;
	align-items: center;

	gap: 19px;

	border-radius: 20px;
	background: var(--neutral-8, #e3e4e8);
	text-decoration: none;
}

.menu-feature-container .card-container > div {
	color: var(--neutral-5, #283148);
	min-width: 131px;

	display: flex;
	justify-content: center;
}

.menu-feature-container .card-container:hover {
	background: var(--neutral-7, #d1d2d6);
	cursor: pointer;
}

.menu-feature-container .card-container:active {
	background: var(--neutral-7, #d1d2d6);
	cursor: pointer;
	transform: translateY(1px);
}

/* section fitur */
.fitur-section {
	display: flex;
	flex-direction: column;
	justify-content: center;
	padding: 100px 120px;

	gap: 50px;

	border-radius: 50px;
	background: var(--neutral-5, #283148);
}

.fitur-description {
	display: flex;
	flex-direction: column;
	align-items: center;

	gap: 40px;
}

.fitur-description1 {
	color: var(--secondary-4, #f7b5ac);
	font-family: "Anton";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	letter-spacing: 0.96px;

	text-align: center;
}

.fitur-description > h2 {
	color: var(--background, #f8f8fc);
	text-align: center;
}

.fitur-description > h2 > span {
	color: var(--secondary-4, #f7b5ac);
}

.fitur-description .text1 {
	color: var(--neutral-8, #e3e4e8);
	text-align: center;

	max-width: 750px;
}

.fitur-container {
	display: flex;
	padding: 0px 6px;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 50px;
	align-self: stretch;
	flex-wrap: wrap;
}

.fitur-container .card-container {
	display: flex;
	/* height: 220px; */
	min-height: 220px;
	padding: 40px;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;

	border-radius: 20px;
	background: var(--neutral-3, #40446f);
}

.fitur-container .card-container .description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	color: var(--neutral-8, #e3e4e8);
}

.fitur-container .card-container > a {
	text-decoration: none;

	color: var(--secondary-6, #fce6e3);
	text-align: center;

	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
}

.fitur-container .card-container > a:hover {
	color: var(--secondary-5, #f8f8fc);
}

.fitur-container .card-container > a:active {
	transform: translateY(1px);
}

.fitur-container .card-container .description > h3 {
	color: var(--background-main, #f8f8fc);
	text-align: center;
}

.fitur-container .card-container .text3 {
	max-width: 200px;
	text-align: center;
}

/* update section */
.update-section {
	display: flex;
	padding: 100px 120px;
	flex-direction: column;
	align-items: center;
	gap: 50px;

	border-radius: 0px 0px 50px 50px;
}

.update-title {
	display: flex;
	flex-direction: column;
	justify-content: center;

	gap: 40px;

	text-align: center;
}

.update-title .update-title-1 {
	color: var(--secondary-2, #f28475);
	text-align: center;
	font-family: "Anton";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%;
	letter-spacing: 0.96px;
}

.update-title > h2 {
	color: var(--secondary-2, #f28475);
}

.update-title > h2 > span {
	color: var(--neutral-5, #283148);
}

.update-title .text1 {
	color: var(--neutral-4, #363f51);
	text-align: center;
	max-width: 750px;
}

.update-content {
	display: flex;
	padding: 0px 43px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 10px;
}

.recomendation-frame {
	display: flex;
	padding: 0px 6px;
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: 50px;

	flex-wrap: wrap;
}

.recomendation-frame .update-card-container {
	display: flex;
	padding: 40px;
	flex-direction: column;
	align-items: center;
	gap: 25px;

	border-radius: 20px;
	background: var(--neutral-8, #e3e4e8);

	width: 200px;
}

.recomendation-frame .update-card-container > img {
	border-radius: 10px;
	width: 200px;
	height: 160px;
}

.recomendation-frame .update-card-container .update-card-description {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 20px;

	text-align: center;
}

.recomendation-frame .update-card-container .update-card-description > h5 {
	color: var(--neutral-4, #363f51);
	text-align: center;
	font-family: "Anton";
	font-size: 24px;
	font-style: normal;
	font-weight: 400;
	line-height: normal;
	text-transform: capitalize;
}

.recomendation-frame .update-card-container > a {
	color: var(--secondary-2, #f28475);
	text-align: center;

	font-family: "Inter";
	font-size: 20px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;

	text-decoration: none;
}

.recomendation-frame .update-card-container > a:hover {
	color: var(--secondary-1, #f8f8fc);
}

.recomendation-frame .update-card-container > a:active {
	transform: translateY(1px);
}

@media only screen and (max-width: 480px) {
	.explore-section,
	.menu-section,
	.fitur-section,
	.update-section {
		padding: 100px 50px;
	}
}
