footer {
	display: flex;
	justify-content: space-between;

	padding: 100px 120px 100px 120px;

	background: var(--secondary-7, #fdf3f1);
	box-shadow: 0px -20px 50px 0px rgba(0, 0, 0, 0.1);
}

@media only screen and (max-width: 900px) {
	footer {
		display: flex;

		flex-direction: column;
		gap: 50px;

		justify-content: center;

		flex-wrap: wrap;
		align-content: center;
	}
}

.contact-us-text {
	color: var(--neutral-5, #283148);
	font-family: Anton;
	font-size: 48px;
	font-style: normal;
	font-weight: 400;
	line-height: 100%; /* 48px */
	letter-spacing: 1.92px;
}

footer .left-side {
	display: flex;
	flex-direction: column;

	gap: 40px;

	flex-wrap: wrap;
}

.info > .text2 {
	line-height: 150%;

	overflow-wrap: anywhere;
}

br {
	content: "";
	display: block;
	margin: 16px 0px;
}

.enter-height {
	height: 10px;
}

footer .right-side {
	display: flex;
	flex-direction: column;

	gap: 40px;
	min-width: 470px;
}

@media only screen and (max-width: 900px) {
	footer .right-side {
		min-width: 146px;
	}
}

.saran-text {
	color: var(--neutral-4, #363f51);
}

.saran-field {
	display: flex;
	flex-direction: column;

	gap: 20px;
}

.saran-field > input {
	border-radius: 10px;
	background: var(--neutral-8, #e3e4e8);
	padding: 15px 20px;
	border: none;
	outline: none;

	color: var(--neutral-5, #283148);
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;
}

.saran-field > textarea {
	border-radius: 10px;
	background: var(--neutral-8, #e3e4e8);
	padding: 15px 20px;
	border: none;
	outline: none;

	color: var(--neutral-5, #283148);
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: normal;

	height: 120px;
	resize: none;
}
