.navbar {
	position: sticky;
	top: 0;

	display: flex;
	align-items: center;
	justify-content: space-between;

	background-color: var(--secondary-7);
	padding: 0px 120px 0px 120px;

	height: 59px;
}

.left-navbar {
	height: fit-content;
}

.right-navbar {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 40px;

	height: 100%;
}

.right-navbar > a {
	text-decoration: none;
	box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;

	display: flex;
	align-items: center;
	height: 100%;

	color: var(--neutral-5, #283148);
	font-family: "Inter";
	font-size: 16px;
	font-style: normal;
	font-weight: 700;
	line-height: normal;
	text-transform: uppercase;
}

.right-navbar > a:hover {
	color: var(--primary-1, #7069bd);

	font-weight: 700;
}

.right-navbar > a.active {
	/* color: var(--Primary-1, #7069bd); */

	font-weight: 700;

	box-shadow: inset 0px -6px #f28475;
}

@media only screen and (max-width: 768px) {
	.right-navbar {
		display: none;
	}
}
